@import "Variables";

.gallery-page {
  min-height: 100vh;
  padding: 50px 10%;
  background-color: lighten($dark-color, 10%);

  .gallery-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: row wrap;

    .gallery-thumbnail {
      margin: 5px 0;
      border-radius: 5px;
      cursor: pointer;
      -webkit-filter: brightness(100%);

      &:hover {
        -webkit-filter: brightness(70%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }

    @media only screen and (max-width: $small-break) {
      justify-content: center;
    }
  }

  @media only screen and (max-width: $small-break) {
    padding: 50px 5%;
  }
}