@import "Variables";

// WIDTH VARIABLES
$sidebar-width: 250px;
$sidebar-content-width: 100px;

// SIDEBAR LINK COLOR VARIABLES
$sidebar-background: #1A1A1A;
$sidebar-item-background-1: lighten($sidebar-background, 3%);
$sidebar-item-background-2: lighten($sidebar-item-background-1, 3%);
$sidebar-item-background-3: lighten($sidebar-item-background-2, 3%);
$sidebar-item-background-4: lighten($sidebar-item-background-3, 3%);
$sidebar-item-background-5: lighten($sidebar-item-background-4, 3%);

.sidebar-icon-open {
  font-size: 35px;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
  color: white;
}

.sidebar-icon-open:hover {
  color: black;
}

.sidebar-icon-close {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #DDDDDD;
  cursor: pointer;
  z-index: 1;
}

.sidebar-icon-close:hover {
  color: white;
}

.sidebar {
  position: fixed;
  overflow-y: hidden;
  top: 0;
  z-index: 1;
  left: -$sidebar-width;
  width: $sidebar-width;
  height: 100%;
  background-color: $sidebar-background;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;

  .sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: $sidebar-width;

    .sidebar-brand {
      color: #DDDDDD;
      cursor: pointer;
      margin: 50px 20px;
      width: 150px;
      font-size: 30px;

      &:hover {
        color: white;
      }
    }

    li {
      display: inline-block;
      line-height: 20px;
      position: relative;
      width: $sidebar-width;
      &:before {
        background-color: #1C1C1C;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: width .2s ease-in;
        width: 3px;
        z-index: -1;
      }
      &:first-child {
        background-color: $sidebar-background;
      }
      &:nth-child(2) {
        &:before {
          background-color: $sidebar-item-background-1;
        }
      }
      &:nth-child(3) {
        &:before {
          background-color: $sidebar-item-background-2;
        }
      }
      &:nth-child(4) {
        &:before {
          background-color: $sidebar-item-background-3;
        }
      }
      &:nth-child(5) {
        &:before {
          background-color: $sidebar-item-background-4;
        }
      }
      &:nth-child(6) {
        &:before {
          background-color: $sidebar-item-background-5;
        }
      }
      &:hover {
        &:before {
          transition: width .2s ease-in;
          width: 100%;
        }
      }
      .sidebar-list-item {
        color: #DDDDDD;
        display: block;
        padding: 10px 15px 10px 30px;
        text-decoration: none;
        cursor: pointer;
      }
    }

    li:hover {
      font-weight: 700;
    }
  }

  li.open {
    &:hover {
      before {
        transition: width .2s ease-in;
        width: 100%;
      }
    }
  }
}

.sidebar-open {
  left: 0;
}